<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel ="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", ['$rootScope', '$scope', '$http', '$timeout', function ($rootScope, $scope, $http, $timeout) {
    $scope.products = [];
    
    $scope.refresh = function () {
        $http.get('getStatelessList')
            .then(function successCallback(response) {
     		$scope.products = response.data;
  		},
  		function errorCallback(response) {
      		alert(response);
  		});
    };

    $scope.remove = function (x) {            
       $http.get("removeItem", {params: { item: $scope.products[x] }})
       		.then(function successCallback(response) {
     			$scope.refresh();
  			},
  			function errorCallback(response) {
      			alert(response);
  			});
    };

    $scope.add = function (x) {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}        
        if ($scope.products.indexOf($scope.addMe) == -1) {
           	$http.get("addItem", {params: { item: $scope.addMe }})
       			.then(function successCallback(response) {
     				$scope.refresh();
  				},
  				function errorCallback(response) {
      				alert(response);
  				});
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
        
    };
}]);
</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" ng-init="refresh()" class="w3-card-2 w3-margin" style="max-width:400px;">
  <header class="w3-container w3-light-grey w3-padding-16">
    <h3>My Shopping List</h3>
  </header>
  <ul class="w3-ul">
    <li ng-repeat="x in products" class="w3-padding-16">{{x}}<span ng-click="remove($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
  </ul>
  <div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
      </div>
      <div class="w3-col s2">
        <button ng-click="add()" class="w3-btn w3-padding w3-green">Add</button>
      </div>
    </div>
    <p class="w3-text-red">{{errortext}}</p>
  </div>
</div>

<p>Try to add the same item twice, and you will get an error message.</p>

</body>
</html>
